<% set_meta_tags title: "" %>

<div class="container-fluid cover ">

  <div class="row">

    <div class="col-12 top_of_top">
      <div class="my-5 text-center">
        <h1 class="text-white text-shadow">アフリカで暮らす、仕事する、アフリカを旅する日本人の為の治安情報シェアサイト</h1>
        <h2 class="text-white text-shadow">マップで位置を確認して、安全にお過ごしください！</h2>
      </div>
      <div class="my-4 text-center">
        <%= link_to :new_note do %>
        <button class="btn btn-danger btn-lg"><i class="far fa-newspaper"></i>&nbsp&nbsp<strong>治安・犯罪情報を作成する</strong></button>
        <% end %>
      </div>

    </div><!--col-12-->

  </div>

  <div class="row">
    <div class="col-12 my-4 text-center">
      <h2 class="text-white">訪問する国のタグをタップ !</h2>

      <!--一時的非表示-->
      <% if false %>
      <% @countries_count.each do |key, value| %>

      <%= link_to country_notes_path(country: key, count: value) do %>
      <span class="badge badge badge-warning my-1" style="font-size:1.2rem;"><%= key %>
        <span class="badge badge-pill badge-light"><%= value %>件</span>
      </span>
      <% end %>
      <% end %>
      <% end %>
      <!--一時的非表示-->

<% if false %>

      <% countries_for_link = {
        "Algeria" => "Algeria（アルジェリア）", "Angola" => "Angola",
        "Benin" => "Benin", "Botswana" => "Botswana", "BurkinaFaso" => "BurkinaFaso", "Burundi" => "Burundi",
        "CaboVerde" => "Cabo Verde", "Cameroon" => "Cameroon", "CentralAfricanRepublic" => "Central African Republic", "Chad" => "Chad", "Comoros" => "Comoros",
        "DemocraticRepublicOfTheCongo" => "Democratic Republic Of The Congo", "RepublicOfTheCongo" => "Republic of The Congo", "CoteDIvoire" => "Cote d'Ivoire",
        "Djibouti" => "Djibouti",
        "Egypt" => "Egypt", "EquatorialGuinea" => "Equatorial Guinea", "Eritrea" => "Eritrea", "eSwatini" => "eSwatini", "Ethiopia" => "Ethiopia",
        "Gabon" => "Gabon", "Gambia" => "Gambia", "Ghana" => "Ghana", "Guinea" => "Guinea", "GuineaBissau" => "Guinea Bissau",
        "Kenya" => "Kenya",
        "Lesotho" => "Lesotho", "Liberia" => "Liberia", "Libya" => "Libya",
        "Madagascar" => "Madagascar", "Malawi" => "Malawi", "Mali" => "Mali", "Mauritania" => "Mauritania", "Mauritius" => "Mauritius", "Morocco" => "Morocco", "Mozambique" => "Mozambique",
        "Namibia" => "Namibia", "Niger" => "Niger", "Nigeria" => "Nigeria",
        "Rwanda" => "Rwanda",
        "SaoTomeAndPrincipe" => "Sao Tome and Principe", "Senegal" => "Senegal", "Seychelles" => "Seychelles", "SierraLeone" => "Sierra Leone", "Somalia" => "Somalia",
        "Somaliland" => "Somaliland", "SouthAfrica" => "South Africa", "SouthSudan" => "South Sudan", "Sudan" => "Sudan",
        "Tanzania" => "Tanzania", "Togo" => "Togo", "Tunisia" => "Tunisia",
        "Uganda" => "Uganda",
        "Zambia" => "Zambia", "Zimbabwe" => "Zimbabwe"
      }
        %>

        <% countries_for_link.each do |key, value| %>
        <%= link_to "/notes/#{key}" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          <%= value %>
        </span>
        <% end %>
        <% end %>

<% end %>


        <span class="badge badge-light mt-3" style="font-size:1.2rem;">
          南部アフリカ
        </span>
        <br>
        <%= link_to "/notes/SouthAfrica" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          South Africa（南アフリカ）
        </span>
        <% end %>
        <%= link_to "/notes/Angola" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Angola（アンゴラ）
        </span>
        <% end %>
        <%= link_to "/notes/Botswana" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Botswana（ボツワナ）
        </span>
        <% end %>
        <%= link_to "/notes/eSwatini" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          eSwatini（エスティワニ）
        </span>
        <% end %>
        <%= link_to "/notes/Lesotho" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Lesotho（レソト）
        </span>
        <% end %>
        <%= link_to "/notes/Madagascar" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Madagascar（マダガスカル）
        </span>
        <% end %>
        <%= link_to "/notes/Malawi" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Malawi（マラウィ）
        </span>
        <% end %>
        <%= link_to "/notes/Mauritius" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Mauritius（モーリシャス）
        </span>
        <% end %>
        <%= link_to "/notes/Mozambique" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Mozambique（モザンビーク）
        </span>
        <% end %>
        <%= link_to "/notes/Namibia" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Namibia（ナミビア）
        </span>
        <% end %>
        <%= link_to "/notes/Seychelles" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Seychelles（セイシェル）
        </span>
        <% end %>
        <%= link_to "/notes/Zambia" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Zambia（ザンビア）
        </span>
        <% end %>
        <%= link_to "/notes/Zimbabwe" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Zimbabwe（ジンバブエ）
        </span>
        <% end %>

        <br>

        <span class="badge badge-light mt-3" style="font-size:1.2rem;">
          東アフリカ
        </span>
        <br>

        <%= link_to "/notes/Comoros" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Comoros(コモロ）
        </span>
        <% end %>
        <%= link_to "/notes/Kenya" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Kenya(ケニヤ）
        </span>
        <% end %>
        <%= link_to "/notes/Djibouti" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Djibouti(ジブチ）
        </span>
        <% end %>
        <%= link_to "/notes/Eritrea" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Eritrea(エリトリア）
        </span>
        <% end %>
        <%= link_to "/notes/Ethiopia" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Ethiopia(エチオピア）
        </span>
        <% end %>
        <%= link_to "/notes/Rwanda" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Rwanda(ルワンダ）
        </span>
        <% end %>
        <%= link_to "/notes/Somalia" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Somalia(ソマリア）
        </span>
        <% end %>
        <%= link_to "/notes/Somaliland" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Somaliland(ソマリランド）
        </span>
        <% end %>
        <%= link_to "/notes/Tanzania" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Tanzania(タンザニア）
        </span>
        <% end %>
        <%= link_to "/notes/Togo" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Togo(トーゴ）
        </span>
        <% end %>
        <%= link_to "/notes/Uganda" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Uganda(ウガンダ）
        </span>
        <% end %>


        <br>

        <span class="badge badge-light mt-3" style="font-size:1.2rem;">
          西アフリカ
        </span>
        <br>
        <%= link_to "/notes/Benin" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Benin(ベナン）
        </span>
        <% end %>
        <%= link_to "/notes/BurkinaFaso" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          BurkinaFaso（ブルキナファソ）
        </span>
        <% end %>
        <%= link_to "/notes/Burundi" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Burundi（ブルンジ）
        </span>
        <% end %>
        <%= link_to "/notes/CaboVerde" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Cabo Verde（カーボベルデ）
        </span>
        <% end %>
        <%= link_to "/notes/CoteDIvoire" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Cote d'Ivoire（コートジボワール）
        </span>
        <% end %>
        <%= link_to "/notes/Gambia" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Gambia（ガンビア）
        </span>
        <% end %>
        <%= link_to "/notes/Ghana" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Ghana（ガーナ）
        </span>
        <% end %>
        <%= link_to "/notes/Guinea" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Guinea（ギニア）
        </span>
        <% end %>
        <%= link_to "/notes/GuineaBissau" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Guinea Bissau（ギニアビザウ）
        </span>
        <% end %>
        <%= link_to "/notes/Liberia" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Liberia（リベリア）
        </span>
        <% end %>
        <%= link_to "/notes/Mali" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Mali（マリ）
        </span>
        <% end %>
        <%= link_to "/notes/Mauritania" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Mauritania（モーリタニア）
        </span>
        <% end %>
        <%= link_to "/notes/Niger" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Niger（ニジェール）
        </span>
        <% end %>
        <%= link_to "/notes/Nigeria" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Nigeria（ナイジェリア）
        </span>
        <% end %>
        <%= link_to "/notes/Senegal" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Senegal（セネガル）
        </span>
        <% end %>
        <%= link_to "/notes/SierraLeone" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Sierra Leone（シエラレオネ）
        </span>
        <% end %>

        <br>

        <span class="badge badge-light mt-3" style="font-size:1.2rem;">
          中部アフリカ
        </span>
        <br>
        <%= link_to "/notes/Cameroon" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Cameroon（カメルーン）
        </span>
        <% end %>
        <%= link_to "/notes/CentralAfricanRepublic" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Central African（中央アフリカ）
        </span>
        <% end %>
        <%= link_to "/notes/Chad" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Chad（チャド）
        </span>
        <% end %>
        <%= link_to "/notes/DemocraticRepublicOfTheCongo" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          DR Congo（コンゴ民主共和国）
        </span>
        <% end %>
        <%= link_to "/notes/RepublicOfTheCongo" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Republic of The Congo（コンゴ共和国）
        </span>
        <% end %>
        <%= link_to "/notes/EquatorialGuinea" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Equatorial Guinea（赤道ギニア）
        </span>
        <% end %>
        <%= link_to "/notes/Gabon" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Gabon（ガボン）
        </span>
        <% end %>
        <%= link_to "/notes/SaoTomeAndPrincipe" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Sao Tome and Principe（サントメ・プリンシペ）
        </span>
        <% end %>
        <%= link_to "/notes/SouthSudan" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          South Sudan（南スーダン）
        </span>
        <% end %>

        <br>

        <span class="badge badge-light mt-3" style="font-size:1.2rem;">
          北アフリカ
        </span>

        <br>

        <%= link_to "/notes/Algeria" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
        Algeria（アルジェリア）
        </span>
        <% end %>
        <%= link_to "/notes/Egypt" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
        Egypt（エジプト）
        </span>
        <% end %>
        <%= link_to "/notes/Sudan" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
        Sudan（スーダン）
        </span>
        <% end %>
        <%= link_to "/notes/Tunisia" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
        Tunisia（チュニジア）
        </span>
        <% end %>
        <%= link_to "/notes/Morocco" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Morocco（モロッコ）
        </span>
        <% end %>
        <%= link_to "/notes/Libya" do %>
        <span class="badge badge badge-warning my-1" style="font-size:1.2rem;">
          Libya（リビア）
        </span>
        <% end %>

        <br>



    </div>

    <div class="col-12 my-3">
      <div style='width: 100%;' class="text-center">
        <div id="map" style='width: 100%; height: 60vh;'></div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>
    </div>

    <div class="col-12">

      <% if @notes.exists? %>

      <% @notes.each do |note| %>
      <%= render 'shared/note_index', note: note %>
      <% end %>

      <div class="my-5">
        <%= link_to :notes, class: "btn btn-danger btn-lg" do %>
        &nbsp;&nbsp;<strong>過去の治安・犯罪情報を見る</strong>&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>
        <% end %>
      </div>

      <% else %>

      <div class="alert alert-danger text-center" role="alert">
        Oops! no data yet....<i class="far fa-frown"></i>
      </div>

      <% end %>

    </div><!--col-4-->

  </div><!--row-->

</div>
