<% set_meta_tags title: "", description: "crime reports happened in South Africa" %>

<div class="container-fluid cover ">

  <div class="row">

    <div class="col-12 top_of_top">
      <div class="my-5 text-center">
        <h1 class="text-white text-shadow">アフリカで暮らす、仕事する、アフリカを旅する日本人の為の治安情報シェアサイト</h1>
        <h2 class="text-white text-shadow">マップで位置を確認して、安全にお過ごしください！</h2>
      </div>
      <div class="my-4 text-center">
        <%= link_to :new_note do %>
        <button class="btn btn-danger btn-lg"><i class="far fa-newspaper"></i>&nbsp&nbsp<strong>治安・犯罪情報を作成する</strong></button>
        <% end %>
      </div>

    </div><!--col-12-->

  </div>

  <div class="row">
    <div class="col-12 my-4 text-center">
      <h2 class="text-white">訪問する国のタグをタップ !</h2>
      <% @countries_count.each do |key, value| %>

      <%= link_to country_notes_path(country: key, count: value) do %>
      <span class="badge badge badge-warning my-1" style="font-size:1.2rem;"><%= key %>
        <span class="badge badge-pill badge-light"><%= value %>件</span>
      </span>
      <% end %>

      <% end %>
    </div>

    <div class="col-12 my-3">
      <div style='width: 100%;' class="text-center">
        <div id="map" style='width: 100%; height: 60vh;'></div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>
    </div>

    <div class="col-12">

      <% if @notes.exists? %>

      <% @notes.each do |note| %>
      <%= render 'shared/note_index', note: note %>
      <% end %>

      <div class="my-5">
        <%= link_to :notes, class: "btn btn-danger btn-lg" do %>
        &nbsp;&nbsp;<strong>過去の治安・犯罪情報を見る</strong>&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>
        <% end %>
      </div>

      <% else %>

      <div class="alert alert-danger text-center" role="alert">
        Oops! no data yet....<i class="far fa-frown"></i>
      </div>

      <% end %>

    </div><!--col-4-->

  </div><!--row-->

</div>
