<hr>

<div class="row">
  <div class="col-12">
    <h3 class="mb-3">
      <i class="fas fa-comments"></i>&nbsp;&nbsp;<small>コメント & アドバイス</small>
    </h3>

    <% if @note.advises.count == 0 %>
    <div class="alert alert-danger mb-3" role="alert">
      <strong>まだアドバイスは有りません。最初のアドバイザーになりましょう！</strong>
    </div>

    <% else %>

    <div class="card mb-5" style="border-top:0";>
      <% @note.advises.each do |advise| %>
      <div class="card-header bg-light text-left py-1 d-flex justify-content-between" style="border-top:solid 1px;border-color:rgba(0, 0, 0, 0.125);">
        <span class="mb-0 my-0"><%= advise.user_name %></span>
        &nbsp;&nbsp;
        <span class="mb-0 my-0 text-secondary"><small>posted at&nbsp;<%= advise.created_at.strftime("%H:%M on %d-%B-%Y") %></small></span>
      </div>
      <div class="card-body pt-3 pb-0 text-left">
        <%= simple_format(raw Rinku.auto_link(h(advise.body))) %>
      </div>
      <% end %>
    </div>

    <div class="alert alert-warning mb-1" role="alert">
      <strong>アドバイス、コメントを投稿する</strong>
    </div>

    <% end %>


    <%= form_for @advise, url: note_advises_path(@note) do |f| %>

    <div class="form-group">
      <%= f.label :user_name, "name"%>&nbsp;&nbsp;&nbsp;<small><span class="text-danger">* required, maximum 20 words</span></small>
      <%= f.text_field :user_name, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :body, "advise & comment"%>&nbsp;&nbsp;&nbsp;<small><span class="text-danger">* required, maximum 20 words</span></small>
      <%= f.text_area :body, class: 'form-control', rows: 6, required: true %>
    </div>

    <div class="form-group">
      <%= button_tag type: 'submit', class: "btn btn-lg btn-warning my-2" do %>
      投稿する
      <% end %>
    </div>

    <% end %>

  </div>
</div>
