<% set_meta_tags title: "" %>
<% breadcrumb :notes %>

<div class="container-fluid">

  <div class="row">
    <div class="col-12">

      <% if params[:country] %>

      <div class="alert alert-success my-3" role="alert">
        <h1>
          <strong><%= params[:country] %></strong>の治安・犯罪情報
          &nbsp;<span class="badge badge-pill badge-light py-2"><%= @count %>件</span>
        </h1>
      </div>

      <div style='width: 100%;' class="text-center">
        <div id="map" style='width: 100%; height: 60vh;'></div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>

      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <% if @notes.exists? %>

      <% @notes.each do |note| %>
      <%= render 'shared/note_index', note: note %>
      <% end %>

      <% else %>

      <div class="alert alert-danger text-center" role="alert">
        Oops! no data yet....<i class="far fa-frown"></i>
      </div>

      <% end %>

      <%= link_to :new_note, class: 'btn btn-danger btn-lg my-4' do %>
      <i class="far fa-newspaper"></i>&nbsp;&nbsp;<strong>治安・犯罪情報を作成する</strong>
      <% end %>

    </div><!--col-4-->

  </div><!--row-->

</div>
