<% set_meta_tags title: "Create Crime Note", description: "create new crime report in South Africa" %>
<% breadcrumb :new %>

<div class="container">
  <h1 class="my-3">Report New Crime Happened</h1>

  <%= render "shared/errors", obj: @note %>

  <%= form_for @note do |f| %>

  <div class="form-group">
    <i class="fas fa-clipboard-list"></i>
    <%= f.label :crime_category, "犯罪の種類"%>&nbsp;&nbsp;&nbsp;<small><span class="text-danger">必須</span></small>
    <%= f.select :crime_category, Note::CRIME_CATEGORIES, {}, {class:"form-control"} %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group">
      <%= f.check_box :general %>
      <%= f.label :general, " 「一般情報（日時の特定不可）」の場合チェック"%>
      </div>
    </div>
    <div class="col-12 col-md-6 hidden-if-general">
      <div class="form-group" >
        <%= f.label :occured_at_date_part, "日にち"%>&nbsp;&nbsp;&nbsp;<small><span class="text-danger">必須</span></small>
        <div class='input-group'>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class='far fa-calendar-alt'></i></span>
          </div>
          <%= f.text_field :occured_at_date_part, class: 'form-control date-picker', required: true %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 hidden-if-general">
      <div class="form-group" >
        <%= f.label :occured_at_time_part, "時間"%>&nbsp;&nbsp;&nbsp;<small><span class="text-danger">必須</span></small>
        <div class='input-group'>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class='far fa-clock'></i></span>
          </div>
          <%= f.text_field :occured_at_time_part, class: 'form-control time-picker', required: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <i class='fas fa-location-arrow'></i>
    <%= f.label :address_city_part, "場所（分かる限りの住所を記載してください）"%>&nbsp;&nbsp;&nbsp;<small><span class="text-danger">必須</span></small>
    <%= f.text_field :address_city_part, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <i class="fas fa-globe"></i>
    <%= f.label :address_country_part, "国"%>&nbsp;&nbsp;&nbsp;<small><span class="text-danger">必須</span></small>
    <%= f.select :address_country_part, Note::COUNTRIES_NAMES, {}, {class:"form-control"} %>
  </div>

  <div class="form-group">
    <i class='fas fa-sticky-note'></i>
    <%= f.label :situation, "状況"%>&nbsp;&nbsp;&nbsp;<small><span class="text-danger">必須</span></small>
    <%= f.text_area :situation, class: 'form-control', rows: 10, required: true %>
  </div>

  <div class="row my-5">
    <div class="col-12">
      <strong>以下、追加情報（任意）</strong>
    </div>
  </div>

  <div class="mb-3"><i class="fas fa-user-circle"></i> 被害者プロファイル</div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="form-group">
        属性
        <% options = ["旅行者", "ビジネス出張者", "外国人居住者", "現地人", "その他"]%>
        <%= f.select :profile_type, options, {:include_blank => "--選択して下さい--"}, class: "custom-select" %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="form-group">
        性別
        <% options = ["男性", "女性", "複数人", "不明・非公開"]%>
        <%= f.select :profile_sex, options, {:include_blank => "--選択して下さい--"}, class: "custom-select" %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="form-group">
        年齢
        <% options = ["16-22歳", "23-35歳", "36-45歳", "46-60歳", "61-70歳以上", "複数人"]%>
        <%= f.select :profile_age, options, {:include_blank => "--選択して下さい--"}, class: "custom-select" %>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <%= f.label :profile_supplement, "被害者プロファイルに関する特徴があれば記載して下さい"%>
        <%= f.text_area :profile_supplement, class: 'form-control', rows: 5, placeholder: "（例）被害者は日本からの出張者。同国には頻繁に訪れており、土地勘がある。" %>
      </div>
    </div>
  </div>

  <div class="form-group my-4">
    <i class="fas fa-building"></i>
    <%= f.label :embassy, "大使館HPに掲載されている情報の場合チェックして下さい " %>
    &nbsp;&nbsp;
    <%= f.check_box :embassy %>
  </div>

  <div class="form-group my-4">
    <i class="fas fa-external-link-alt"></i>
    <%= f.label :source_url, "ニュース等外部ソースがある場合はURLを記載してください"%>
    <%= f.text_field :source_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= button_tag type: 'submit', class: "btn btn-lg btn-warning my-5" do %>
    <i class="fas fa-plus"></i>&nbsp;&nbsp;Create
    <% end %>
    &nbsp;&nbsp;
    <%= link_to :notes do %>
    <button class="btn btn-outline-secondary btn-lg my-5"><i class="fas fa-times"></i></i>&nbsp;&nbsp;Cancel</button>
    <% end %>
  </div>

  <% end %>

</div>
