<% set_meta_tags title: "#{@note.crime_category} レポート ##{@note.id}", description: "#{@note.address}で発生した#{@note.crime_category}" %>
<% breadcrumb :note, @note %>

<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="card bg-light my-3">
        <div class="card-header">Crime Note #<%= @note.id %> | <%= @note.address_country_part %>の<%= @note.address_city_part %>で発生</div>
        <div class="card-body">
          <h1 class="card-title"><strong><%= @note.crime_category %></strong></h1>

          <% unless @note.general %>
          <hr>
          <h3 class="my-1">
            <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;<strong><%= @note.occured_at.strftime('%v') %></strong>
            &nbsp;&nbsp;
            <i class="far fa-clock"></i>&nbsp;&nbsp;<strong><%= @note.occured_at.strftime('%R') %></strong>
          </h3>
          <% end %>

          <% if @note.embassy %>
          <span class="badge badge-pill badge-danger my-2 py-1">大使館掲載情報</span>
          <% end %>
          <% if @note.general %>
          <span class="badge badge-pill badge-secondary my-2 py-1">一般治安・犯罪情報</span>
          <% end %>

          <% if @note.profile_age or @note.profile_sex or @note.profile_type or @note.profile_supplement %>
          <hr>
          <div>
            <h3>
              <i class="fas fa-user-circle"></i>&nbsp;被害者プロファイル&nbsp;
              (
              <%= @note.try(:profile_type) %>
              <% unless @note.profile_age.empty? %>&nbsp;&nbsp;<% end %><%= @note.try(:profile_age) %>
              <% unless @note.profile_sex.empty? %>&nbsp;&nbsp;<% end %><%= @note.try(:profile_sex) %>
              )
            </h3>
            <p>
              <%= @note.try(:profile_supplement) %>
            </p>
          </div>
          <% end %>

          <hr>

          <p class="my-4">
            <%= simple_format(raw Rinku.auto_link(h(@note.situation))) %>
          </p>

          <% unless @note.source_url.empty? %>
          <div>
            <i class="far fa-newspaper"></i>&nbsp;<%= raw Rinku.auto_link(h(@note.source_url)) %>
          </div>
          <% end %>

          <div class="mt-4">
            <div class="font-italic text-secondary  my-2">share this report via Social
              <%= social_share_button_tag("crime report @ #{@note.address}", desc: @note.address) %>
            </div>
          </div>
        </div>
      　</div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 mt-4">
      <i class="far fa-compass"></i> 発生場所を地図で確認 | <%= @note.address_country_part %>の<%= @note.address_city_part %>で発生
    </div>

    <div class="col-12 my-2">
      <div style='width: 100%;' class="text-center">
        <div id="map" style='width: 100%; height: 70vh;'></div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>
    </div>
  </div>


  <%= render "comments" %>

</div>
