<% set_meta_tags title: "#{@note.crime_category} Report ##{@note.id}", description: "#{@note.crime_category} occured at #{@note.address} in South Africa" %>
<% breadcrumb :note, @note %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger my-3" role="alert">
        <h1><strong>Crime Note : <%= @note.crime_category %> in <%= @note.address_country_part %></strong></h1>
      </div>
      <div class="mt-2">
        <div class="font-italic text-secondary  my-2">share this report via Social</div>
        <%= social_share_button_tag("crime report @ #{@note.address}", desc: @note.address) %>
      </div>

      <% if @note.embassy %>
      <span class="badge badge-pill badge-danger mt-4 py-1">大使館掲載情報</span>
      <% end %>
      <% if @note.general %>
      <span class="badge badge-pill badge-secondary mb-2 py-1">一般治安・犯罪情報</span>
      <% end %>

      <h2 class="mt-3 mb-0">
        <i class="fas fa-clipboard-list"></i>&nbsp;&nbsp;<strong><%= @note.crime_category %></strong>
        @&nbsp;&nbsp;<strong><%= @note.address_city_part %></strong></span>
        <span><small>in <%= @note.address_country_part%></small></span>
      </h2>

      <% if @note.profile_age or @note.profile_sex or @note.profile_type or @note.profile_supplement %>
      <div class="my-4">
      <h3>
        <i class="fas fa-user-circle"></i>&nbsp;被害者プロファイル&nbsp;
        (
        <%= @note.try(:profile_type) %>
        <% unless @note.profile_age.empty? %>&nbsp;&nbsp;<% end %><%= @note.try(:profile_age) %>
        <% unless @note.profile_sex.empty? %>&nbsp;&nbsp;<% end %><%= @note.try(:profile_sex) %>
        )
      </h3>
      <p>
        <%= @note.try(:profile_supplement) %>
      </p>

      </div>
      <% end %>

      <% unless @note.general %>
      <h3 class="my-3">
        <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;<small>Date&nbsp;:&nbsp;</small><strong><%= @note.occured_at.strftime('%v') %></strong>
      </h3>
      <h3 class="my-3">
        <i class="far fa-clock"></i>&nbsp;&nbsp;<small>Time&nbsp;:&nbsp;</small><strong><%= @note.occured_at.strftime('%R') %></strong>
      </h3>
      <% end %>
      <p class="mb-3">
        <%= simple_format(raw Rinku.auto_link(h(@note.situation))) %>
      </p>

      <% unless @note.source_url.empty? %>
      <i class="far fa-newspaper"></i>&nbsp;<%= raw Rinku.auto_link(h(@note.source_url)) %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 my-4">
      <div style='width: 100%;' class="text-center">
        <div id="map" style='width: 100%; height: 70vh;'></div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>
    </div>
  </div>


  <%= render "comments" %>

</div>
